#! /usr/bin/env bash

# source python virtualenv in .venv folder
if [ -d .venv ]; then
    # shellcheck disable=SC1091
    source .venv/bin/activate
fi

# load env variables from .env file
if [ -f .env ]; then
    # shellcheck disable=SC2046
    export $(< .env sed 's/#.*//g' | xargs)
fi
